@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

#textos {
  display: flex;
  flex-direction: column;
}

#resultados {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.6rem;
  font-size: 1rem;
}

input {
  height: 2rem;
  width: 2rem;
  margin: 0.2rem;
}

#range-1 {
  width: 400px;
}

#range-2 {
  width: 400px;
}

label {
  display: flex;
  justify-content: center;
}

#btn {
  font-size: 1rem;
  margin: 2rem;
  width: 20rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
}

#btn:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

input[type='range'] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 43px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #3071a9;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071a9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 43px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #3071a9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 43px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type='range']:focus::-ms-fill-upper {
  background: #3071a9;
}
